* {
    background-color: rgb(59, 57, 57);
    color: whitesmoke;
    
}

div {
    text-align: right;
}

ul {
    list-style-type: none;
}

.menu {
    text-align: right;
}

.pagina {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.titulos {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
p {
    font-family: 'Times New Roman', Times, serif;
}